@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rm-background: 0 0% 100%;
    --rm-foreground: 240 10% 3.9%;

    --rm-card: 0 0% 100%;
    --rm-card-foreground: 240 10% 3.9%;

    --rm-popover: 0 0% 100%;
    --rm-popover-foreground: 240 10% 3.9%;

    --rm-primary: 240 5.9% 10%;
    --rm-primary-foreground: 0 0% 98%;

    --rm-secondary: 240 4.8% 95.9%;
    --rm-secondary-foreground: 240 5.9% 10%;

    --rm-muted: 240 4.8% 95.9%;
    --rm-muted-foreground: 240 3.8% 46.1%;

    --rm-accent: 240 4.8% 95.9%;
    --rm-accent-foreground: 240 5.9% 10%;

    --rm-destructive: 0 84.2% 60.2%;
    --rm-destructive-foreground: 0 0% 98%;

    --rm-border: 240 5.9% 90%;
    --rm-input: 240 5.9% 90%;
    --rm-ring: 240 10% 3.9%;

    --rm-radius: 0.5rem;
  }

  .rm-dark {
    --rm-background: 240 10% 3.9%;
    --rm-foreground: 0 0% 98%;

    --rm-card: 240 10% 3.9%;
    --rm-card-foreground: 0 0% 98%;

    --rm-popover: 240 10% 3.9%;
    --rm-popover-foreground: 0 0% 98%;

    --rm-primary: 0 0% 98%;
    --rm-primary-foreground: 240 5.9% 10%;

    --rm-secondary: 240 3.7% 15.9%;
    --rm-secondary-foreground: 0 0% 98%;

    --rm-muted: 240 3.7% 15.9%;
    --rm-muted-foreground: 240 5% 64.9%;

    --rm-accent: 240 3.7% 15.9%;
    --rm-accent-foreground: 0 0% 98%;

    --rm-destructive: 0 62.8% 30.6%;
    --rm-destructive-foreground: 0 0% 98%;

    --rm-border: 240 3.7% 15.9%;
    --rm-input: 240 3.7% 15.9%;
    --rm-ring: 240 4.9% 83.9%;
  }
}

@layer base {
  .rm * {
    @apply rm-border-border;
  }
  .rm {
    @apply rm-bg-background rm-text-foreground;
  }
}
