name: CI

on: [push]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node LTS
        uses: actions/setup-node@v2
        with:
          node-version: "24"

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: "npm ci --ignore-scripts"

      - name: Build
        run: npm run build

  typecheck:
    name: Typechecker
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node LTS
        uses: actions/setup-node@v2
        with:
          node-version: "24"

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: "npm ci --ignore-scripts"

      - name: Build
        run: npm run build

      - name: Typecheck
        run: npm run typecheck

  test:
    name: Unit and Integration Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node LTS
        uses: actions/setup-node@v2
        with:
          node-version: "24"

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: "npm ci --ignore-scripts"

      - name: Install Cypress binary
        run: npx cypress install
        working-directory: apps/example

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

  lint:
    name: Linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Use Node LTS
        uses: actions/setup-node@v2
        with:
          node-version: "24"

      - name: Install dependencies
        uses: bahmutov/npm-install@v1
        with:
          install-command: "npm ci --ignore-scripts"

      - name: Lint
        run: npm run lint
